ENTRY(Reset_Handler)

_Min_Heap_Size = 4K;
_Min_Stack_Size = 1K;

MEMORY
{
{%- for region in regions %}
  {{ region.name }} ({{ region.attributes }}) : ORIGIN = {{ region.origin_hex }}, LENGTH = {{ region.length_hex }}{% endfor %}
}

_estack = ORIGIN({{ ram_region }}) + LENGTH({{ ram_region }});
_sstack = _estack - _Min_Stack_Size;

SECTIONS
{
  .isr_vector :
  {
    KEEP(*(.isr_vector))
  } > {{ flash_region }}

  .text :
  {
    *(.text*)
    *(.rodata*)
    KEEP(*(.init))
    KEEP(*(.fini))
    . = ALIGN(4);
    _etext = .;
  } > {{ flash_region }}

  .ARM.extab :
  {
    *(.ARM.extab* .gnu.linkonce.arm.extab.*)
  } > {{ flash_region }}

  .ARM.exidx :
  {
    __exidx_start = .;
    *(.ARM.exidx* .gnu.linkonce.arm.exidx.*)
    __exidx_end = .;
  } > {{ flash_region }}

  .preinit_array :
  {
    . = ALIGN(4);
    PROVIDE_HIDDEN(__preinit_array_start = .);
    KEEP(*(.preinit_array*))
    PROVIDE_HIDDEN(__preinit_array_end = .);
    . = ALIGN(4);
  } > {{ flash_region }}

  .init_array :
  {
    . = ALIGN(4);
    PROVIDE_HIDDEN(__init_array_start = .);
    KEEP(*(SORT(.init_array.*)))
    KEEP(*(.init_array*))
    PROVIDE_HIDDEN(__init_array_end = .);
    . = ALIGN(4);
  } > {{ flash_region }}

  .fini_array :
  {
    . = ALIGN(4);
    PROVIDE_HIDDEN(__fini_array_start = .);
    KEEP(*(SORT(.fini_array.*)))
    KEEP(*(.fini_array*))
    PROVIDE_HIDDEN(__fini_array_end = .);
    . = ALIGN(4);
  } > {{ flash_region }}
{%- for section in fixed_sections %}

  {{ section.name }} {{ section.address_hex }} (NOLOAD) :
  {
    KEEP(*({{ section.name }}))
  } > {{ section.region }}{% endfor %}

  .data :
  {
    _sdata = .;
    *(.data*)
    . = ALIGN(4);
    _edata = .;
  } > {{ ram_region }} AT> {{ flash_region }}
  _sidata = LOADADDR(.data);

  .bss :
  {
    _sbss = .;
    *(.bss*)
    *(COMMON)
    . = ALIGN(4);
    _ebss = .;
  } > {{ ram_region }}
  _end = .;
  end = _end;

  .heap (NOLOAD) :
  {
    . = ALIGN(8);
    __HeapBase = _end;
    . = __HeapBase;
    . += _Min_Heap_Size;
    __HeapLimit = .;
  } > {{ ram_region }}

  .stack _sstack (NOLOAD) :
  {
    . = _sstack;
    __StackLimit = .;
    . += _Min_Stack_Size;
    __StackTop = .;
  } > {{ ram_region }}

  ASSERT(__HeapLimit <= _sstack, "heap and stack overlap")
}
